@model BookingInfo
<h1>Session Modification</h1>
<form asp-action="Edit">
    <input asp-for="ProuctId" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Create Product</h1>
        </div>
        <div class="mb-2">
            <label>Session Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="mb3">
            x
            <label>Session Description</label>
            <input asp-for="ProductDescription" class="form-control" />
        </div>
        <br />
        <div class="mb3">

            <label>Session Start Date</label>
            <input asp-for="SessionStartTime" class="form-control" />
            <span asp-validation-for="SessionStartTime" class="text-danger"></span>

        </div>
        <br />

        <div class="mb3">

            <label>Available Seats</label>
            <input asp-for="Qty" class="form-control" />
            <span asp-validation-for="Qty" class="text-danger"></span>

        </div>
        <br />
        <div class="mb3">

            <label>Session End Date</label>
            <input asp-for="SessionEndTime" class="form-control" />
            <span asp-validation-for="SessionEndTime" class="text-danger"></span>

        </div>
        <div class="row justify-content-evenly">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label asp-for="BookingSession" class="form-label mt-4">Session Time</label>
                    <select class="form-select" asp-for="BookingSession">
                        <option>Morning</option>
                        <option>Afternoon</option>
                        <option>Evening</option>
                    </select>
                    <span asp-validation-for="BookingSession" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label asp-for="Category" class="form-label mt-4">Table Area </label>
                    <select asp-items="Model.CategoryList" class="form-control" asp-for="Categories">
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row justify-content-lg-around">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-controller="BookingInfo" asp-action="Index" class="btn btn-primary">Back To List</a>
                </div>
            </div>
        </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationscriptsPartial" />
    }
    
}