@model Session

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bean Scene Table Booking</h1>
    <div>
         <img style="height:120px;width:160px" src="~/Uploads/cd5cbeeb-cf15-4825-9631-5ad99ac990c1.png" alt="Image Load Fail"/>
    </div>


</div>
