
@model Booking

@{
    var product = ViewData["BookingInfo"]
    as BSTableBooking.Models.BookingInfo;
    var tablelocation = ViewData["TableLocation"] as BSTableBooking.Models.TableArea;
}
<h1>Book a Table</h1>
<form id="ProductDetails" asp-action="CreateOrder">
    <div class="border p-3 mt-4">
        <input asp-for="ProductID" value=@product.ProuctId hidden class="form-control" />
        <div class="row pb-2">
            <h2 class="text-primary">Session Details</h2>
        </div>
        <div class="mb-2">
            <table style="font-family:Arial">
                <tr>
                    <td>Session Name</td>
                    <td>@product.ProductName</td>
                </tr>
                <tr>
                    <td>Session Details</td>
                    <td>@product.ProductDescription</td>
                </tr>
                <tr>
                    <td>Table Area</td>

                    <td>@tablelocation.CategoryName</td>
                </tr>
                <tr>
                    <td>Seats Available</td>
                    
                    <td>@product.Qty</td>    
                </tr>

            </table>
        </div>
    <div class="row pb-2">
        <h2 class="text-primary">Order Details</h2>
    </div>
        <div>
            <label>Booking Details</label>
            <input asp-for="OrderDescription" class="form-control" />
            <span asp-validation-for="OrderDescription" class="text-danger"></span>
        </div>
       
        <div class="mb3">
            <label>Number of people</label>
            <input asp-for="Qty" class="form-control"/>
            <span asp-validation-for="Qty" class="text-danger"></span>
         </div>
        <br />
        <br />

        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="BookingInfo" asp-action="ProductList" class="btn btn-primary">Back To List</a>
    </div>
</form>




@section Scripts{
    @{
        <partial name="_ValidationscriptsPartial" />
    }

}